


<div class="container" id="home-container">
    <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5 text-center">
        <h1 class="display-5 fw-bold">Alpha Blog!</h1>
        <p class="col-md-8 fs-4" style="margin-left: 200px;">Use utility classes to replicate the jumbotron-style hero unit.</p>
        <button type="button" class="btn btn-success">Sign up</button>
     
    </div>
    </div>
</div> 

