<footer class="bg-light text-dark pt-4" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>About Us</h5>
        <p>We provide quality services to our clients worldwide.</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-dark text-decoration-none">Home</a></li>
          <li><a href="#" class="text-dark text-decoration-none">Products</a></li>
          <li><a href="#" class="text-dark text-decoration-none">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Follow Us</h5>
        <a href="#" class="text-dark me-2"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-dark me-2"><i class="bi bi-twitter"></i></a>
        <a href="#" class="text-dark"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
    <div class="text-center py-3 border-top">
      &copy; <%= link_to "2025 Alpha Blog" %>
    </div>
  </div>
</footer>
